@import "tailwindcss";

@theme {
  --font-sans: var(--font-montserrat);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}


@font-face {
  font-family: 'AlQalamQuran';
  src: url('/fonts/AlQalamQuran.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
